################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.vs
/backend/Vs.Remote/bin
/backend/Vs.Remote/obj
/backend/Vs.Remote.Sample/bin/Debug/net6.0
/backend/Vs.Remote.Sample/obj
/backend/VsRemote/obj
/backend/VsRemote.Sample/obj
/backend/VsRemote/bin
/backend/VsRemote.Sample/bin/Debug/net6.0
